services:
  study-web:
    platform: linux/amd64
    image: pingpong-study-web:latest
    build:
      context: ./web
      dockerfile: Dockerfile
      args:
        host: 0.0.0.0
        port: 3000
    restart: always
    expose: [80]
    ports: ["80:3000"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

  study-srv:
    platform: linux/amd64
    image: pingpong-study-srv:latest
    build:
      context: ./
      dockerfile: Dockerfile.srv
    restart: always
    expose: [8000]
    ports: ["8000:8000"]
    secrets:
      - source: app_config
        target: /code/config.toml
        mode: 0400
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

  scripts:
    platform: linux/amd64
    image: pingpong-scripts:latest
    build:
      context: ./
      dockerfile: Dockerfile.scripts
    restart: always
    ports: ["8002:8002"]
    secrets:
      - source: app_config
        target: /code/config.toml
        mode: 0400
    env_file:
      - path: ./pingpong/scripts/airtable/.env.dev
        required: false
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8002/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

# Use ephemeral volume in dev
volumes:
  dbdata:
    driver_opts: {}
  logs:
    driver_opts: {}

# Use local config in dev
secrets:
  app_config:
    file: ./config.dev.toml
  traefikcrtcfg:
    file: ./traefik-crt.yml
  openfgacfg:
    file: ./openfga-config.dev.yml
