name: Add versioning tag to commit
concurrency: commit
permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - web/**
      - pingpong/**
      - alembic/**
      - saml/**
      - poetry.lock
      - pyproject.toml

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 11 # Fetch the last 10 commits and the current one
          fetch-tags: true

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Add versioning tag to commit
        env:
          CHANGED_FILES_STRING: ${{ steps.changed-files.outputs.all_changed_files }}
          GH_TOKEN: ${{ github.token }}
        run: |
          set -e
          python << EOF
          import os
          import re
          import subprocess
          import sys

          def get_last_tag(n=1):
              if n > 10:
                  raise ValueError('No versioning tags found on the last 10 commits')
              try:
                  # Get all tags pointing to the HEAD~n commit
                  tags = []
                  try:
                      # Get the shorthand Git SHA of HEAD~{n}
                      sha_output = subprocess.check_output(
                          ['git', 'rev-parse', '--short', f'HEAD~{n}'],
                          stderr=subprocess.DEVNULL
                      )
                      sha = sha_output.decode().strip()
                      print(f"Shorthand Git SHA of HEAD~{n}: {sha}")
                      output = subprocess.check_output(
                          ['git', 'tag', '--points-at', f'HEAD~{n}'],
                          stderr=subprocess.DEVNULL
                      )
                      decoded_output = output.decode().strip()
                      print("Raw Output:", decoded_output)  # Print the raw decoded output
                      tags = decoded_output.split('\n')  # Split the output into a list of tags
                      print("Tags List:", tags)  # Print the list of tags
                  except subprocess.CalledProcessError as e:
                      print(f"Error occurred: {e}")

                  # Filter tags that match our versioning format
                  pattern = r'\d+\-srv\d+-web\d+'
                  matching_tags = [tag for tag in tags if re.match(pattern, tag)]
                  print(f'Matching versioning tags on commit HEAD~{n}: {matching_tags}')
                  if not matching_tags:
                      print(f'No versioning tags found on commit HEAD~{n}')
                      return get_last_tag(n + 1)

                  print(f'Found versioning tags on commit HEAD~{n}: {matching_tags}')
                  # If multiple matching tags, return the one with the highest build number
                  return max(matching_tags, key=lambda t: int(t.split('-')[0]))
              except subprocess.CalledProcessError as e:
                  raise ValueError("Failed to retrieve versioning tags from the previous commits", e)

          def parse_tag(tag):
              print(f'Parsing tag: {tag}')
              pattern = r'(\d+)-srv(\d+)-web(\d+)'
              match = re.match(pattern, tag)
              if not match:
                  raise ValueError(f"Invalid versioning tag format: {tag}")
              try:
                  return {
                    'build': int(match.group(1)),
                    'srv': int(match.group(2)),
                    'web': int(match.group(3)),
                }
              except Exception as e:
                  raise ValueError(f"Failed to parse versioning tag: {tag}", e)

          def create_new_tag(last_tag, web_update, server_update):
              if last_tag:
                  last_tag_info = parse_tag(last_tag)
                  new_build = last_tag_info['build'] + 1
                  new_srv = last_tag_info['srv'] + (1 if server_update else 0)
                  new_web = last_tag_info['web'] + (1 if web_update else 0)
              else:
                  new_build = 1
                  new_srv = 1
                  new_web = 1

              srv_status = 'b' if server_update else 'r'
              web_status = 'b' if web_update else 'r'

              return f"{new_build}-srv{new_srv}-web{new_web}", new_srv, new_web

          try:
              subprocess.run(['git', 'fetch', 'origin', '--tags', '--depth=11', 'HEAD'], check=True)
              changed_files = os.environ['CHANGED_FILES_STRING'].split(" ")
              web_update = any('web/' in file for file in changed_files)
              server_update = any(file.startswith(('pingpong/', 'saml/', 'alembic/')) or file in ['poetry.lock', 'pyproject.toml'] for file in changed_files)

              last_tag = get_last_tag()
              new_tag, new_srv, new_web = create_new_tag(last_tag, web_update, server_update)

              subprocess.run(['git', 'tag', new_tag], check=True)
              subprocess.run(['git', 'push', 'origin', new_tag], check=True)

              print(f"Successfully pushed new versioning tag: {new_tag}")

          except Exception as e:
              print(f"Error: {str(e)}", file=sys.stderr)
              sys.exit(1)
          EOF
        shell: bash
